body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #f1f0f7; */
    background-image:url(img/2020_05_software-development-i1.jpg);
    background-size: cover;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
    height: 350px;
    /* background-color: rgb(21, 53, 114); */
    background-image:url(img/geometric-science-education-background-vector-gradient-blue-digital-remix_53876-125993.jpg);
}


a{
    color: green;
}

h1 {
    font-size: 24px;

    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {

    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 600px;
}

button:hover {
    background-color: #19c021;
}

a{
    color: white;
}